<div mat-dialog-content class=" ">
    <form [formGroup]="cutOffform" >

        <mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedIndex">

            <mat-tab formArrayName="category" *ngFor="let url of categoryFormGroup.controls; let i = index">

                <ng-template mat-tab-label>
                    <span class="font-semibold">
                        {{ categoryList.value[i].name }}
                    </span>
                </ng-template>

                <div [formGroupName]="i" class="space-y-6">

                    <!-- AUTO CUT SETTINGS -->
                    <div *ngIf="round !== 1000 && catArray[categoryList.value[i].name].cutshow"
                        class="bg-gray-50 rounded-xl border px-5 pt-4">
                        <h3 class="text-xl font-semibold mb-2">Cut & Group Settings</h3>

                        <div>

                            <!-- TOGGLE -->
                            <div class="flex items-center justify-between ">
                                <mat-label class="font-medium">
                                    {{ catArray[categoryList.value[i].name].cutshow
                                    ? 'Make Auto Cut Based Groups'
                                    : 'Make Next Round Groups' }}
                                </mat-label>

                                <mat-slide-toggle color="primary" formControlName="playing"
                                    (change)="selectionChange($event, categoryList.value[i].name)">
                                </mat-slide-toggle>
                            </div>

                            <p class="text-sm text-gray-500 mb-4">
                                Groups will be created based on Gross or Net score
                            </p>

                            <!-- CUT SCORE SETTINGS -->
                            <div *ngIf="catArray[categoryList.value[i].name].value"
                                class="grid grid-cols-1 md:grid-cols-2 gap-6 -ml-1">

                                <!-- DROPDOWN -->
                                <div>
                                    <mat-form-field appearance="outline" class="w-full  custom-mat-input"
                                        [floatLabel]="'always'">
                                        <mat-label class="font-medium">Cut Score Based On</mat-label>
                                        <mat-select formControlName="type" placeholder="Select Type">
                                            <mat-option value="GROSS">Gross</mat-option>
                                            <mat-option value="NET">Net</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <!-- CUT SCORE -->
                                <div>
                                    <mat-form-field appearance="outline" class="w-full  custom-mat-input"
                                        [floatLabel]="'always'">
                                        <mat-label class="font-medium">Cut Off Score (To Par)</mat-label>
                                        <input matInput type="number" formControlName="cuttScore" />
                                        <mat-error>Required</mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                    </div>


                    <!-- GROUP CONFIGURATION -->
                    <div class="bg-gray-50 rounded-xl border p-5">

                        <h3 class="text-xl font-semibold mb-2">Group Configuration</h3>

                        <!-- COPY LAST ROUND -->
                        <!-- <div  class="mb-4">
                            <mat-label class="font-medium">Copy Last Round Groups?</mat-label>
                            <mat-radio-group class="flex gap-6 mt-2" formControlName="copyFlights"
                                (change)="selectionChangeCopy($event, categoryList.value[i].name)">
                                <mat-radio-button value="No">No</mat-radio-button>
                                <mat-radio-button value="Yes">Yes</mat-radio-button>
                            </mat-radio-group>
                        </div> -->

                        <div class="flex items-center justify-between ">
                            <mat-label class="font-medium">
                                Copy Last Round Groups
                            </mat-label>

                            <mat-slide-toggle color="primary" formControlName="copyFlights"
                                (change)="selectionChangeCopy($event, categoryList.value[i].name)">
                            </mat-slide-toggle>
                        </div>

                        <p class="text-sm text-gray-500 mb-4">
                            Groups will be created based on last round's groupings
                        </p>

                        <!-- GROUP DETAILS -->
                        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-4 -ml-1">
                            <div *ngIf="!catArray[categoryList.value[i].name].showCutCopy">
                                <mat-form-field appearance="outline" class="w-full custom-mat-input"
                                    [floatLabel]="'always'">
                                    <mat-label>Players / Group</mat-label>
                                    <input matInput type="number" formControlName="players" />
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field appearance="outline" class="w-full custom-mat-input"
                                    [floatLabel]="'always'">
                                    <mat-label>Start Time</mat-label>
                                    <input [ngxTimepicker]="timePicker" matInput formControlName="time" />
                                    <ngx-material-timepicker  [appendToInput]="true" #timePicker format="12" [minutesGap]="5">
                                    </ngx-material-timepicker>
                                </mat-form-field>
                            </div>

                            <div>
                                <mat-form-field appearance="outline" class="w-full custom-mat-input"
                                    [floatLabel]="'always'">
                                    <mat-label>Interval (Minutes)</mat-label>
                                    <input matInput type="number" formControlName="interval" />
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- TEE & ORDER -->
                        <div *ngIf="!catArray[categoryList.value[i].name].showCutCopy"
                            class="grid grid-cols-1 md:grid-cols-3 gap-6 -ml-1">

                            <div>
                                <mat-form-field appearance="outline" class="w-full  custom-mat-input"
                                    [floatLabel]="'always'">
                                    <mat-label class="font-medium">Starting Hole</mat-label>
                                    <mat-select formControlName="tee" placeholder="Select Type">
                                        <mat-option value="1_10">1–10</mat-option>
                                        <mat-option value="1">1</mat-option>
                                        <mat-option value="10">10</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <!-- <div>
                                <mat-label>Groups Order</mat-label>
                                <mat-radio-group class="flex gap-4 mt-2" formControlName="order">
                                    <mat-radio-button value="asc">Ascending</mat-radio-button>
                                    <mat-radio-button value="desc">Descending</mat-radio-button>
                                </mat-radio-group>
                            </div> -->

                            <div>
                                <mat-form-field appearance="outline" class="w-full  custom-mat-input"
                                    [floatLabel]="'always'">
                                    <mat-label class="font-medium">Groups Order</mat-label>
                                    <mat-select formControlName="order" placeholder="Select Type">
                                        <mat-option value="asc">Ascending</mat-option>
                                        <mat-option value="desc">Descending</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <!-- SAVE BUTTON -->
                    <div class="flex justify-center">
                        <button mat-raised-button color="primary" class="px-8 py-2 rounded-lg"
                            (click)="saveCutSettings(i, $event)">
                            Save Changes
                        </button>
                    </div>

                </div>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>

<!-- ACTIONS -->
<div mat-dialog-actions class="flex justify-end">
    <button mat-stroked-button (click)="onNoClick()">Cancel</button>

    <button *ngIf="round !== 1000" mat-raised-button color="warn" [disabled]="!allTabsChecked"
        [mat-dialog-close]="cutOffform.value">
        Close Round
    </button>

    <button *ngIf="round === 1000" mat-raised-button color="warn" [disabled]="!allTabsChecked"
        [mat-dialog-close]="cutOffform.value">
        Create Groups
    </button>
</div>