<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen ">
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
    <div class="text-lg font-medium">Change Round Settings</div>
    <button mat-icon-button (click)="dialogRef.close()" [tabIndex]="-1">
      <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>

  <div class="max-h-140 border-t overflow-y-auto px-4">
    <form [formGroup]="starterForm" autocomplete="off" novalidate (ngSubmit)="changeFlight($event)">
      <div class="flex w-full my-4">
        <mat-form-field *ngIf="data.course" class="fuse-mat-no-subscript w-full">
          <mat-label>Course Hole Set</mat-label>
          <mat-select (selectionChange)="changeFlight($event)" [(value)]="currentHoleSet" formControlName="holeSets">
            <mat-option *ngFor="let course of courseHoleSetNames" [value]="course.holeSets + '_' + course.inverted">{{
              course.displayName }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex w-full my-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Round Category</mat-label>
          <mat-select (selectionChange)="changeRound($event)" placeholder="Round Category.."
            formControlName="roundCategory">
            <mat-option value="false">Daily Round</mat-option>
            <mat-option value="true">Tournament / League Round</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="showTournamentTitle" class="flex w-full my-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <mat-label>Tournament / League Name</mat-label>
          <input matInput placeholder="Tournament / League Name" formControlName="title" />
        </mat-form-field>
      </div>
      <!-- <div class="flex w-full my-4">
        <mat-form-field class="fuse-mat-no-subscript w-full">
          <input type="text" matInput atp-time-picker formControlName="startingTime" placeholder="Select Time" />
          <mat-error>The input is required.</mat-error>
        </mat-form-field>
      </div> -->
      <div class="flex flex-row items-center justify-between gap-2 my-4">
        <div class="w-full">
          <mat-form-field class="fuse-mat-no-subscript w-full">
            <input matInput #query placeholder="Search player" (keyup.enter)="searchPlayer(query.value)" />
          </mat-form-field>
        </div>
        <div class="flex justify-end w-full">
          <button type="button" mat-raised-button color="primary" (click)="searchPlayer(query.value)"
            [disabled]="query.value.length == 0">
            Search
          </button>
          &nbsp;
          <button type="button" mat-raised-button color="primary" (click)="addPlayer()">
            Add New Player
          </button>
        </div>
      </div>

      <div *ngIf="membersSource" class=" bg-card shadow rounded-2xl">
        <table mat-table #msort="matSort" [dataSource]="membersSource" matSort>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <!-- <td mat-cell *matCellDef="let element"> {{members[element].PlayerQL.firstName}} {{members[element].PlayerQL.lastName}} </td> -->
            <td mat-cell *matCellDef="let element">
              {{
              element.PlayerQL
              ? element.PlayerQL.firstName
              : element.firstName
              }}
              {{
              element.PlayerQL ? element.PlayerQL.lastName : element.lastName
              }}
            </td>
          </ng-container>

          <!-- Handicap Column -->
          <ng-container matColumnDef="handicap">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Handicap</th>
            <td mat-cell *matCellDef="let element">
              {{
              element.PlayerQL ? element.PlayerQL.handicap : element.handicap
              }}
            </td>
          </ng-container>

          <!-- Category Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
            <td mat-cell *matCellDef="let element">
              {{
              element.PlayerQL
              ? element.PlayerQL.playerCategory
              : element.playerCategory
              }}
            </td>
          </ng-container>

          <!-- Player Tee -->
          <ng-container matColumnDef="tee">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tee</th>
            <td mat-cell *matCellDef="let element">
              <mat-select placeholder="Player Tee" (selectionChange)="selectedTee($event, element.playerId)"
                [(value)]="element.tee_id" style="width: 130px">
                <mat-option *ngFor="let tee of tees" [value]="tee.tee_id">
                  <span class="flex items-center">
                    <span class="ml-5">{{
                      tee.name
                      }}</span>
                  </span>
                </mat-option>
              </mat-select>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th [ngStyle]="{ 'text-align': 'right' }" mat-header-cell *matHeaderCellDef>
              Remove
            </th>
            <td mat-cell *matCellDef="let row" [ngStyle]="{ 'text-align': 'right', cursor: 'pointer' }">
              <span><mat-icon aria-hidden="false" aria-label="Dragable" class="remove primary-foreground" (click)="
                removePlayer(row.PlayerQL ? row.PlayerQL.id : row.id)
              ">delete_forever</mat-icon>
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="membersColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: membersColumns"></tr>
        </table>
      </div>

    </form>

  </div>
  <div class="flex items-center justify-center my-2 border-t bg-gray-50">
    <!-- Save -->
    <button class="my-2" [mat-dialog-close]="starterForm.value" mat-flat-button [color]="'primary'"
      [matTooltip]="'Save'">
      Save
    </button>
  </div>
</div>