<div class="flex-auto overflow-hidden">
    <div class="flex flex-col md:flex-row flex-auto bg-card justify-between py-8 px-6 md:px-8 border-b">
        <div class="flex items-center">
            <div>
                <button mat-mini-fab color="primary" matTooltip="Back to list" matTooltipPosition="above"
                    matTooltipClass="tooltipStyle" (click)="hideResult()">
                    <span class="mat-button-wrapper"><mat-icon class="mat-icon material-icons" matsuffix=""
                            role="img">arrow_back</mat-icon></span>
                </button>
            </div>
            <div class="mt-1 ml-2">
                <div class="text-4xl font-extrabold tracking-tight leading-none">
                    Daily Rounds :
                </div>
            </div>
            <div class="mt-2.5 ml-2 font-medium text-3xl leading-none">
                {{ fDate }}
            </div>
        </div>

        <div class="flex items-center gap-2 mt-4 md:mt-0">
            <div class="flex-auto">
                <form class="example-container" [formGroup]="filters">
                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                        <input matInput formControlName="name" [autocomplete]="'off'" placeholder="Search Player" />
                    </mat-form-field>
                </form>
            </div>
            <div class="flex items-center gap-2">
                <button mat-mini-fab color="primary" (click)="filterPlayerFlight(true)">
                    <mat-icon>search</mat-icon>
                </button>
                <button mat-mini-fab (click)="filterPlayerFlight(false)">
                    <mat-icon>clear</mat-icon>
                </button>
                <button mat-raised-button color="primary" [routerLinkActive]="'active'"
                    [routerLink]="['/dailyRounds/add-daily-rounds']">
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">Add Round</span>
                </button>
            </div>
        </div>
    </div>

    <div *ngFor="let flight of flightPlayers; let i = index"
        class="scoreCardBox mx-4 mb-5 flex flex-col shadow rounded-2xl overflow-hidden bg-card ng-star-inserted falses ng-star-inserted"
        [ngClass]="{
            trues: flight.ended == true,
            falses: flight.ended == false
        }">
        <div id="flight.ended"
            class="flex flex-col sm:flex-row md:flex-auto flex-auto bg-card justify-between rounded-t-md border-b"
            [ngClass]="{
                trues: flight.ended == true,
                falses: flight.ended == false
            }">
            <div class="flex">
                <div>
                    <mat-form-field class="w-80 mx-2">
                        <mat-select placeholder="Course Hole Set" (selectionChange)="
                                changeHoleSet($event, flight.flightId, true)
                            " [(value)]="flight.courseHoleSetKey" [disabled]="flight.ended">
                            <mat-option *ngFor="let course of courseHoleSetNames" [value]="
                                    course.holeSets + '_' + course.inverted
                                ">{{ course.displayName }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!-- <div>
                    <mat-form-field class="w-80 mx-2">
                        <mat-select
                            placeholder="Round Tee"
                            (selectionChange)="
                                changeHoleSet($event, flight.flightId, false)
                            "
                            [(value)]="flight.courseTee"
                            [disabled]="flight.ended"
                        >
                            <mat-option value="AMATEURS">Amateurs</mat-option>
                            <mat-option value="LADIES">Ladies</mat-option>
                            <mat-option value="SENIORS">Seniors</mat-option>
                            <mat-option value="PROFESSIONALS"
                                >Professionals</mat-option
                            >
                            <mat-option value="VETERANS">Veterans</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <!-- <div class="ml-3 mt-1">
                    <button
                        mat-raised-button
                        color="primary"
                        *ngIf="flightRound == activeRound && !flight.ended"
                        (click)="saveFlightChanges(flight.flightId)"
                    >
                        <span class="mat-button-wrapper">Save Changes</span>
                    </button>
                </div> -->
            </div>

            <div class="flex mr-3">
                <div fxFlexFill fxLayoutAlign="end center">
                    <div style="text-align: right; margin: 10px 0" class="flex items-center">
                        <!-- <label *ngIf="flight.ended"
                            >Handicap has been calculated for this round.</label
                        > -->

                        <span *ngIf="flight.ended"
                            class="mat-button-wrapper bg-card text-cyan-500 p-4 rounded-xl font-bold">Handicap
                            Calculated</span>&nbsp;
                        <button mat-mini-fab color="primary" matTooltip="Change Settings" matTooltipPosition="above"
                            matTooltipClass="tooltipStyle" *ngIf="flight.ended"
                            (click)="
                            UndoSingleFlightHandicap(
                                        flight.flightId
                                    )
                                ">
                            <span class="mat-button-wrapper"><mat-icon _ngcontent-c10="" class="mat-icon material-icons"
                                    matsuffix="" role="img" aria-hidden="true">settings_backup_restore</mat-icon></span>
                        </button>

                        <a mat-mini-fab color="primary" matTooltip="Calculate Handicap" matTooltipPosition="above"
                            matTooltipClass="tooltipStyle" target="_blank" *ngIf="!flight.ended && flight.courseId == '-LUFS3FCQKOGpJ2IEHmf'"
                            (click)="redirectCalculation(flight.flightId)">
                            <span class="mat-button-wrapper">
                                <mat-icon _ngcontent-c10="" class="mat-icon material-icons" matsuffix="" role="img"
                                    aria-hidden="true">calculate</mat-icon>
                            </span>
                        </a>&nbsp;
                        <button mat-mini-fab color="primary" matTooltip="Change Settings" matTooltipPosition="above"
                            matTooltipClass="tooltipStyle" *ngIf="flightRound == activeRound && !flight.ended"
                            (click)="changeCourseHoleset(flight.flightId)">
                            <span class="mat-button-wrapper"><mat-icon _ngcontent-c10="" class="mat-icon material-icons"
                                    matsuffix="" role="img" aria-hidden="true">settings</mat-icon></span>
                        </button>
                        &nbsp;
                        <button mat-mini-fab color="primary" matTooltip="Save All Score" matTooltipPosition="above"
                            matTooltipClass="tooltipStyle" *ngIf="flightRound == activeRound && !flight.ended"
                            (click)="saveFlightScore(flight.flightId)">
                            <span class="mat-button-wrapper"><mat-icon _ngcontent-c10="" class="mat-icon material-icons"
                                    matsuffix="" role="img" aria-hidden="true">dynamic_feed</mat-icon></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <table>
            <thead *ngIf="flight.header && flight.header.courseHoles18.length > 0">
                <tr class="topheader">
                    <th class="rounded-tl-lg">
                        Group {{ i + 1 }} - ({{ flight.courseHoleSetTitle }})
                    </th>
                    <th *ngFor="let hole of flight.header.courseHoles9">
                        {{ hole?.holeNo }}
                    </th>
                    <th *ngIf="flight.header.courseHoles9.length > 0">out</th>
                    <th *ngFor="let hole of flight.header.courseHoles18">
                        {{ hole?.holeNo }}
                    </th>
                    <th *ngIf="flight.header.courseHoles18.length > 0">in</th>
                    <th *ngFor="let hole of flight.header.courseHoles27">
                        {{ hole?.holeNo }}
                    </th>
                    <th *ngIf="flight.header.courseHoles27.length > 0">out</th>
                    <th *ngFor="let hole of flight.header.courseHoles36">
                        {{ hole?.holeNo }}
                    </th>
                    <th *ngIf="flight.header.courseHoles36.length > 0">in</th>
                    <th>total</th>
                    <th class="rounded-tr-lg"></th>
                </tr>
                <tr class="subhead">
                    <th>Yardage</th>
                    <th *ngFor="let yard of flight.header.yardage9">
                        {{ yard }}
                    </th>
                    <th *ngIf="flight.header.yardage9.length > 0">
                        {{ flight.header.yardage9Total }}
                    </th>
                    <th *ngFor="let yard of flight.header.yardage18">
                        {{ yard }}
                    </th>
                    <th *ngIf="flight.header.yardage18.length > 0">
                        {{ flight.header.yardage18Total }}
                    </th>
                    <th *ngFor="let yard of flight.header.yardage27">
                        {{ yard }}
                    </th>
                    <th *ngIf="flight.header.yardage27.length > 0">
                        {{ flight.header.yardage27Total }}
                    </th>
                    <th *ngFor="let yard of flight.header.yardage36">
                        {{ yard }}
                    </th>
                    <th *ngIf="flight.header.yardage36.length > 0">
                        {{ flight.header.yardage36Total }}
                    </th>
                    <th>{{ flight.header.yardageTotal }}</th>
                    <th></th>
                </tr>
                <tr class="subhead">
                    <th>Par</th>
                    <th *ngFor="let hole of flight.header.courseHoles9">
                        {{ hole?.par }}
                    </th>
                    <th *ngIf="flight.header.courseHoles9.length > 0">
                        {{ flight.header.par9 }}
                    </th>
                    <th *ngFor="let hole of flight.header.courseHoles18">
                        {{ hole?.par }}
                    </th>
                    <th *ngIf="flight.header.courseHoles18.length > 0">
                        {{ flight.header.par18 }}
                    </th>
                    <th *ngFor="let hole of flight.header.courseHoles27">
                        {{ hole?.par }}
                    </th>
                    <th *ngIf="flight.header.courseHoles27.length > 0">
                        {{ flight.header.par27 }}
                    </th>
                    <th *ngFor="let hole of flight.header.courseHoles36">
                        {{ hole?.par }}
                    </th>
                    <th *ngIf="flight.header.courseHoles36.length > 0">
                        {{ flight.header.par36 }}
                    </th>
                    <th>{{ flight.header.parTotal }}</th>
                    <th></th>
                </tr>
                <tr class="subhead">
                    <th class="rounded-bl-lg">Index</th>
                    <th *ngFor="let hole of flight.header.courseHoles9">
                        {{ hole?.index }}
                    </th>
                    <th *ngIf="flight.header.courseHoles9.length > 0"></th>
                    <th *ngFor="let hole of flight.header.courseHoles18">
                        {{ hole?.index }}
                    </th>
                    <th *ngIf="flight.header.courseHoles18.length > 0"></th>
                    <th *ngFor="let hole of flight.header.courseHoles27">
                        {{ hole?.index }}
                    </th>
                    <th *ngIf="flight.header.courseHoles27.length > 0"></th>
                    <th *ngFor="let hole of flight.header.courseHoles36">
                        {{ hole?.index }}
                    </th>
                    <th *ngIf="flight.header.courseHoles36.length > 0"></th>
                    <th></th>
                    <th class="rounded-br-lg"></th>
                </tr>
            </thead>
            <tbody *ngIf="flight.header && flight.header.courseHoles18.length > 0">
                <tr *ngFor="let item of flight" class="scorebody">
                    <td class="title">
                        {{ item.name }} - {{item.memberShipNumber}} ({{ item.handicap | number : "1.0-0" }})
                        <mat-icon *ngIf="
                                flight.membersCount > 1 &&
                                (!flight.ended || item.undoHandicap)
                            " matTooltip="Move to separate round" matTooltipPosition="above"
                            matTooltipClass="tooltipStyle" class="mat-icon material-icons" matsuffix="" role="img"
                            aria-hidden="true" (click)="movetoNewRound(item)">login</mat-icon>
                    </td>
                    <td *ngFor="let score of item.Hole9Scores; let i = index">
                        <span class="class_name_round"><input (input)="
                                    onGross9Change(
                                        $event.target.value,
                                        item.playerId,
                                        flight.header
                                    )
                                " type="text" id="{{ flight.header.courseHoles9[i].id }}&{{
                                    item.playerId
                                }}" maxlength="2" (keypress)="numberOnly($event)" (keyup.enter)="keytab($event)"
                                value="{{ score }}" [ngClass]="{
                                    empty: score == '' && item.holesPlayed > 0,
                                    warn: score > 9
                                }" /></span>
                    </td>
                    <td>
                        <span class="class_name_round" style="
                                border: 3px solid rgb(4, 78, 50);
                                width: 36px;
                            ">
                            <input type="text" id="gross9total_{{ item.playerId }}" value="{{ item.gross9Total }}"
                                style="
                                    width: 30px;
                                    pointer-events: none;
                                    font-weight: bold;
                                " disabled="disabled" />
                        </span>
                    </td>
                    <td *ngFor="let score of item.Hole18Scores; let i = index">
                        <span class="class_name_round"><input type="text" (input)="
                                    onGross18Change(
                                        $event.target.value,
                                        item.playerId,
                                        flight.header
                                    )
                                " id="{{ flight.header.courseHoles18[i].id }}&{{
                                    item.playerId
                                }}" maxlength="2" (keypress)="numberOnly($event)" (keyup.enter)="keytab($event)"
                                value="{{ score }}" [ngClass]="{
                                    empty: score == '' && item.holesPlayed > 0,
                                    warn: score > 9
                                }" /></span>
                    </td>
                    <td>
                        <span class="class_name_round">
                            <input type="text" id="gross18total_{{ item.playerId }}" value="{{ item.gross18Total }}"
                                style="
                                    width: 30px;
                                    pointer-events: none;
                                    font-weight: bold;
                                    color: blue;
                                " disabled="disabled" />
                        </span>
                    </td>
                    <td>
                        <span class="class_name_round" style="border: 3px solid red; width: 36px">
                            <input type="text" id="grosstotal_{{ item.playerId }}" value="{{ item.grossTotal }}" style="
                                    width: 30px;
                                    pointer-events: none;
                                    font-weight: bold;
                                " disabled="disabled" />
                        </span>
                    </td>
                    <td *ngIf="!flight.ended || item.undoHandicap">
                        <div class="flex flex-row justify-center align-center">
                            <mat-icon matSuffix color="primary" title="{{ item.name }}" class="ml-2" (click)="
                                    savePlayerScore(
                                        flight.flightId,
                                        item.playerId
                                    )
                                ">save</mat-icon>
                            <mat-slide-toggle class="ml-4" [color]="'accent'" [checked]="item.panelty"
                                [disabled]="item.panelty" (change)="
                                    paneltToggle(
                                        flight.tournamentId,
                                        flight.flightId,
                                        item.playerId,
                                        $event
                                    )
                                ">
                            </mat-slide-toggle>
                            <mat-icon aria-hidden="false" aria-label="Dragable" class="remove ml-2 primary-foreground"
                                (click)="
                                    removePlayer(
                                        flight.tournamentId,
                                        flight.flightId,
                                        item.playerId
                                    )
                                ">delete_forever</mat-icon>
                        </div>
                    </td>
                    <td *ngIf="flight.ended && !item.undoHandicap">
                        <span title="Undo Handicap" class="mat-button-wrapper icon-styl cursor-pointer"><mat-icon
                                (click)="
                                    UndoFlightHandicap(
                                        flight.flightId,
                                        item.playerId
                                    )
                                " class="mat-icon material-icons" matsuffix=""
                                aria-hidden="true">settings_backup_restore</mat-icon>
                        </span>
                        <mat-icon aria-hidden="false" aria-label="Dragable" class="remove ml-2 pt-2 primary-foreground"
                            (click)="
                                removePlayer(
                                    flight.tournamentId,
                                    flight.flightId,
                                    item.playerId
                                )
                            ">delete_forever</mat-icon>
                    </td>
                </tr>
                <!-- <tr>
          <td colspan="23" style="text-align: center; padding-bottom: 10px; padding-top: 10px;"><button mat-raised-button color="primary" *ngIf="flightRound==activeRound" (click)="redirectCalculation(flight.tournamentId)">Handicaps</button>&nbsp;<button mat-raised-button color="primary" *ngIf="flightRound==activeRound" (click)="changeCourseHoleset(flight.flightId, flight.tournamentId)">Change Round Settings</button>&nbsp;<button mat-raised-button color="primary" *ngIf="flightRound==activeRound" (click)="saveFlightScore(flight.flightId)">Save All</button></td>
        </tr> -->
            </tbody>
            <thead *ngIf="
                    flight.header &&
                    flight.header.courseHoles9.length > 0 &&
                    flight.header.courseHoles18.length == 0
                ">
                <tr class="topheader">
                    <th class="rounded-tl-lg">
                        Group {{ i + 1 }} - ({{ flight.courseHoleSetTitle }})
                    </th>
                    <th *ngFor="let hole of flight.header.courseHoles9">
                        {{ hole?.holeNo }}
                    </th>
                    <th *ngIf="flight.header.courseHoles9.length > 0">out</th>
                    <th>total</th>
                    <th class="rounded-tr-lg"></th>
                </tr>
                <tr class="subhead">
                    <th>Yardage</th>
                    <th *ngFor="let yard of flight.header.yardage9">
                        {{ yard }}
                    </th>
                    <th *ngIf="flight.header.yardage9.length > 0">
                        {{ flight.header.yardage9Total }}
                    </th>
                    <th>{{ flight.header.yardageTotal }}</th>
                    <th></th>
                </tr>
                <tr class="subhead">
                    <th>Par</th>
                    <th *ngFor="let hole of flight.header.courseHoles9">
                        {{ hole?.par }}
                    </th>
                    <th *ngIf="flight.header.courseHoles9.length > 0">
                        {{ flight.header.par9 }}
                    </th>
                    <th>{{ flight.header.parTotal }}</th>
                    <th></th>
                </tr>
                <tr class="subhead">
                    <th class="rounded-bl-lg">Index</th>
                    <th *ngFor="let hole of flight.header.courseHoles9">
                        {{ hole?.index }}
                    </th>
                    <th *ngIf="flight.header.courseHoles9.length > 0"></th>
                    <th></th>
                    <th class="rounded-br-lg"></th>
                </tr>
            </thead>
            <tbody *ngIf="
                    flight.header &&
                    flight.header.courseHoles9.length > 0 &&
                    flight.header.courseHoles18.length == 0
                ">
                <tr *ngFor="let item of flight" class="scorebody">
                    <td>
                        {{ item.name }} ({{ item.handicap | number : "1.0-0" }})
                        <mat-icon *ngIf="
                                flight.membersCount > 1 &&
                                (!flight.ended || item.undoHandicap)
                            " matTooltip="Move to separate round" matTooltipPosition="above"
                            matTooltipClass="tooltipStyle" class="mat-icon material-icons" matsuffix="" role="img"
                            aria-hidden="true" (click)="movetoNewRound(item)">login</mat-icon>
                    </td>
                    <td *ngFor="let score of item.Hole9Scores; let i = index">
                        <span class="class_name_round"><input (input)="
                                    onGross9Change(
                                        $event.target.value,
                                        item.playerId,
                                        flight.header
                                    )
                                " type="text" id="{{ flight.header.courseHoles9[i].id }}&{{
                                    item.playerId
                                }}" maxlength="2" (keypress)="numberOnly($event)" (keyup.enter)="keytab($event)"
                                value="{{ score }}" [ngClass]="{
                                    empty: score == '' && item.holesPlayed > 0,
                                    warn: score > 9
                                }" /></span>
                    </td>
                    <td>
                        <span class="class_name_round" style="
                                border: 3px solid rgb(4, 78, 50);
                                width: 36px;
                            ">
                            <input type="text" id="gross9total_{{ item.playerId }}" value="{{ item.gross9Total }}"
                                style="
                                    width: 30px;
                                    pointer-events: none;
                                    font-weight: bold;
                                " disabled="disabled" />
                        </span>
                    </td>
                    <td>
                        <span class="class_name_round" style="border: 3px solid red; width: 36px">
                            <input type="text" id="grosstotal_{{ item.playerId }}" value="{{ item.grossTotal }}" style="
                                    width: 30px;
                                    pointer-events: none;
                                    font-weight: bold;
                                " disabled="disabled" />
                        </span>
                    </td>
                    <td *ngIf="!flight.ended || item.undoHandicap">
                        <div class="flex flex-row justify-center align-center">
                            <mat-icon matSuffix color="primary" title="{{ item.name }}" class="mr-2" (click)="
                                    savePlayerScore(
                                        flight.flightId,
                                        item.playerId
                                    )
                                ">save</mat-icon>
                            <mat-slide-toggle (change)="
                                    paneltToggle(
                                        flight.tournamentId,
                                        flight.flightId,
                                        item.playerId,
                                        $event
                                    )
                                " [color]="'accent'" [checked]="item.panelty" [disabled]="item.panelty">
                            </mat-slide-toggle>
                            <mat-icon aria-hidden="false" aria-label="Dragable" class="remove ml-2 primary-foreground"
                                (click)="
                                    removePlayer(
                                        flight.tournamentId,
                                        flight.flightId,
                                        item.playerId
                                    )
                                ">delete_forever</mat-icon>
                        </div>
                    </td>
                    <td *ngIf="flight.ended && !item.undoHandicap">
                        <span title="Undo Handicap" class="mat-button-wrapper icon-styl cursor-pointer"><mat-icon
                                (click)="
                                    UndoFlightHandicap(
                                        flight.flightId,
                                        item.playerId
                                    )
                                " class="mat-icon material-icons" matsuffix=""
                                aria-hidden="true">settings_backup_restore</mat-icon></span>
                        <mat-icon aria-hidden="false" aria-label="Dragable" class="remove ml-2 pt-2 primary-foreground"
                            (click)="
                                removePlayer(
                                    flight.tournamentId,
                                    flight.flightId,
                                    item.playerId
                                )
                            ">delete_forever</mat-icon>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <mat-paginator [pageSize]="20" [pageSizeOptions]="[20, 30, 40, 50]" [length]="this.lenght"
        (page)="onPageFired($event)"></mat-paginator>
</div>
<!-- <div>
    <mat-card
        *ngIf="isLoading"
        style="display: flex; justify-content: center; align-items: center"
    >
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
    </mat-card>
</div> -->