<div class="flex flex-col max-w-240 md:min-w-120 max-h-screen">

    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Change Player Tee</div>
        <button mat-icon-button (click)="onNoClick()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <div class="flex p-4 w-full" [formGroup]="form">
        <mat-form-field class="fuse-mat-no-subscript w-full">
            <mat-label>Select Tee</mat-label>
            <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:newspaper'"></mat-icon>
            <mat-select formControlName="tee" placeholder="Select Tee" value="AMATEURS">
                <mat-option *ngFor="let tee of tees" [value]="tee">
                    <span class="flex items-center">
                        <span class="ml-5">{{
                            tee.name_by_club
                            }}</span>
                    </span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="flex justify-center p-4">
        <button type="button" mat-raised-button color="warn" (click)="onNoClick()">
            Cancel
        </button>
        <button class="mx-2" mat-raised-button color="primary" (click)="changeTee()" cdkFocusInitial>
            Change
        </button>

    </div>
</div>