<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex flex-col flex-auto p-6 sm:p-10">
        <div class="w-full max-w-4xl bg-card shadow rounded-lg p-6 mx-auto">
            <div class="flex flex-col sm:flex-row items-center justify-between mb-8">
                <div class="text-4xl font-extrabold tracking-tight leading-none">
                    Tour Itinerary
                </div>
                <button class="mt-4 sm:mt-0" mat-flat-button [color]="'primary'" (click)="addNewGuide()">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                    <span class="ml-2">Add New Itinerary</span>
                </button>
            </div>

            <mat-accordion class="w-full mt-8">
                <ng-container *ngFor="let faq of guides; trackBy: trackByFn;let i=index">
                    <mat-expansion-panel class="rounded-2xl  bg-gray-200 shadow overflow-hidden" #myPanel (opened)="onPanelOpened(faq.id)">
                        <mat-expansion-panel-header [collapsedHeight]="'56px'">
                            <mat-panel-title class="text-lg font-semibold leading-tight">Itinerary {{i+1}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="flex flex-col p-6">
                            <form class="flex flex-col flex-auto" [formGroup]="guideForm">
                                <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full">
                                        <mat-label>Title</mat-label>
                                        <input matInput [formControlName]="'title'">
                                    </mat-form-field>
                                    <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full">
                                        <mat-label>Date</mat-label>
                                        <input matInput [matDatepicker]="picker" (focus)="picker.open()"
                                            formControlName="date" placeholder="Select date" required />
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <quill-editor class="mt-6 w-full rounded-2xl overflow-hidden" [formControlName]="'script'" [bounds]="'self'"
                                    [modules]="quillModules"></quill-editor>
                                <ng-container *ngIf="faq.bg_image">
                                    <div class="relative w-full mt-6 rounded-2xl overflow-hidden">
                                        <div class="absolute top-4 right-4 z-10">
                                            <button mat-icon-button color="warn" (click)="removeImage(faq)">
                                                <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                            </button>
                                        </div>
                                        <img class="w-full h-48 object-cover" [src]="faq.bg_image">
                                    </div>
                                </ng-container>
                            </form>
                            <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-8">
                                <div class="flex items-center">
                                    <input id="image-file-input-{{faq.id}}"
                                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none" type="file"
                                        [accept]="'image/jpeg, image/png'"
                                        (change)="uploadImage(faq.id, $event.target.files)" #imageFileInput>
                                    <label
                                        class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-gray-100 dark:hover:bg-hover"
                                        for="image-file-input-{{faq.id}}">
                                        <mat-icon [svgIcon]="'heroicons_outline:photograph'"></mat-icon>
                                    </label>
                                    <span class="ml-2 text-secondary">Add Background Image</span>
                                </div>
                                <div class="flex items-center mt-4 sm:mt-0">
                                    <button class="mr-3" mat-stroked-button (click)="delete(faq.id)">
                                        <span>Delete</span>
                                    </button>
                                    <button mat-flat-button [color]="'primary'"
                                        (click)="save(faq.id)">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </ng-container>
            </mat-accordion>
        </div>
    </div>

</div>