<div mat-dialog-content>
    <div>
        <div class="flex flex-auto w-full justify-between gap-4">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-80">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input matInput (keyup)="applyFilter($event.target.value)" [autocomplete]="'off'"
                    [placeholder]="'Search'" />
            </mat-form-field>

            <div style="text-align: right; color: red; cursor: pointer">
                <mat-icon
                  aria-hidden="false"
                  aria-label="Dragable"
                  class="remove"
                  (click)="downloadAsPDF()"
                  >picture_as_pdf</mat-icon
                >
              </div>
        </div>
        <table id="playerTables" mat-table [dataSource]="dataSource" matSort>
            <!-- Membership Number Column -->
            <ng-container matColumnDef="membershipNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>MNo.</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.membershipNumber }}
                </td>
            </ng-container>

            <!-- First Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.firstName + " " + row.lastName }}
                </td>
            </ng-container>
            <!-- First Name Column -->
            <ng-container matColumnDef="cat">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
                <td mat-cell *matCellDef="let row">
                    {{ row.playerCategory =='Seniors' ? 'Senior Amateurs' :row.playerCategory}}
                </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="handicapWhsIndex">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Handicap Index
                </th>
                <td mat-cell *matCellDef="let row">
                    <span *ngIf="row.handicapWhsIndex < 1">0</span>
                    <span *ngIf="row.handicapWhsIndex >= 1">{{
                        row.handicapWhsIndex | number : "1.1-1"
                        }}</span>
                </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let row">{{ row.email }}</td>
            </ng-container>
            <ng-container matColumnDef="caddy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Caddy</th>
                <td mat-cell *matCellDef="let row">{{ row?.caddy }}</td>
            </ng-container>
            <ng-container matColumnDef="score">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
                <td mat-cell *matCellDef="let row">{{ row?.score }}</td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator #MatPaginatorA="matPaginator" [pageSize]="10"
            [pageSizeOptions]="[10,20,30, 50, 100]"></mat-paginator>
    </div>
</div>
<div mat-dialog-actions class="flex justify-center mt-4">
    <button mat-raised-button (click)="close()">Close</button>

</div>