table {
  width: 100%;
  font-weight: 500;

  td {

    .mat-icon {
      color: #2b8e2a;
      cursor: pointer;
    }

    .moveableBox td {
      width: 25%;
    }
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.moveableList {
  /* width: 500px; */
  width: 100%;
  display: block;

}


#manageFlights {
  margin: 0 auto;

  .flightHeader {
    padding: 10px;
    color: #fff;

    .mat-icon.remove {
      color: #fff;
      cursor: pointer;
      text-align: right;
    }

    input {
      width: 100px;
      margin: 0 10px;
      color: black;
      border-radius: 5px;
    }
  }
}

.moveableFlights {

  color: rgb(68 68 68 / 87%);
  display: flex;
  flex-direction: row;
  margin-top: 7px;
  padding-right: 16px;
  padding-left: 14px;
  padding-right: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #bfdbfe;
  border-radius: 6px;

  .mat-icon.remove {
    cursor: pointer;
  }

}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/*
  .moveableFlights:last-child {
    border: none;
  }
  */
.moveableList.cdk-drop-list-dragging .moveableFlights:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.actionPane {
  margin: 0 0 10px 0;
  float: left;
}

.actionPane>button {
  margin-right: 10px;
}

.mat-select-value {
  color: rgb(255, 255, 255);
}

.span-tee {
  color: white;

  background-color: white;
  padding: 5px 0px 4px 0px;
  border-radius: 4px;
}

.span-tee1 {
  color: white;

  background-color: white;
  padding: 5px 0px 4px 0px;
  border-radius: 4px;
  border: 1.5px solid black;
}

.empty {
  background-color: #dadae3;
}

.nonempty {
  background-color: #ffffff;
}

.selected-flight {
  background-color: #e0f2f1 !important;
  /* Light emerald green */
  border-color: #00897b !important;
}

.selected-player {
  background-color: #e8f5e9;
  /* Lighter green for individual players */
}